@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

/*nav*/
.navBar nav {
    margin-left: auto;
}

.navBar {
    display: flex;
    padding: 2em;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

ul.navContainer {
    display: flex;
}

li.navItem {
    display: block;
}

li.navItem a{
    color:white; 
    text-decoration: none;
    padding:7.5px;
    padding-bottom: 7.5px;
    padding-top: 7.5px;
    text-transform: uppercase;
    font-size: 14px;
}

li.navItem a.active{
    border-bottom: 3px solid #83d2e5
}

/*Banner*/
.mainBanner {
    max-width: 800px;
    margin: auto;
    padding: 10%;
    padding-top: 2%;
}

.bannerTitle{
    color:white;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 0.75em;
    text-transform: uppercase;
    font-size: 3.8em;
}

.bannerTitle::after{
    display: block;
    content: " ";
    background-color: #83d2e5;
    height: 5px;
    width: 80px;
    margin-top: 0.75em;
}

.bannerBody {
    color: white;
    font-size: 18px;
    margin-bottom: 2em;
}

/* button */

.ctaButton {
    display: inline;
}

.ctaButton a{
    display: inline-block;
    background-color: #83d2e5;
    text-transform: uppercase;
    font-weight: 900;
    color: #112c42;
    line-height: 46px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 800px) {
    ul.navContainer{
        display: none
    }
  }
